<div class="bg-primario d-flex justify-content-center pb-3 color-blanco">
    <mat-card-header class="d-flex justify-content-center text-center">
        <h1 class="m-0">Suscribete a un servicio y pagalo mensualmente!</h1>
    </mat-card-header>
</div>
 <mat-card class="m-3">
    <mat-card-header>
        <mat-card-title class="d-flex flex-column">
            <h2 class="m-0">Servicios disponibles</h2>
        </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <hr/>
        <div *ngFor="let servicio of servicios; last as isLast" class="d-flex flex-column">
            <div class="d-flex flex-row justify-content-between">
                <mat-label><h2 class="color-primario m-0">{{servicio.accountName}}</h2></mat-label>
            </div>
            

            <form (ngSubmit)="suscribirse(servicio.idOrganizationAccount, servicio.monto)">
                    <div class="d-flex justify-content-between">
                            <mat-form-field class="d-flex flex-column justify-content-evenly align-content-center">
                                <input matInput placeholder="$ Monto en pesos" type="number" class="form-control" id="monto" [(ngModel)]="servicio.monto" name="monto" required>
                            </mat-form-field>      
                            <button mat-raised-button color="primary" class="align-self-center p-3 ">Confirmar</button>
                    </div>   
            </form>
            <hr *ngIf="!isLast"/>
        </div>
    </mat-card-content>
 </mat-card>
 
