<mat-card class="color-blanco">
    <div class="bg-primario">
        <mat-card-header class="d-flex justify-content-center">
            <h1>¿Deseas abrir una cuenta nueva?</h1>
        </mat-card-header>
        <mat-card-content>
            <mat-label>
                <h3>¡Es muy fácil!</h3>
                <h4>1. Selecciona el tipo de cuenta que deseas abrir.</h4>
                <h4>2. Ingresa el nombre de la cuenta.</h4>
                <h4>3. Ingresa einiciall monto .</h4>
                <h4>4. ¡Listo! Ya tienes una cuenta nueva.</h4>
            </mat-label>
        </mat-card-content>
    </div>
</mat-card>
<mat-card>
    
</mat-card>