    <mat-card class="h-100">
        <div class="p-0 m-0 bg-primario d-flex flex-column color-blanco" style="max-height:290px;">
            <div class="d-flex justify-content-center pt-3">
                <h1 class="m-0">Hola Sebastián</h1>
            </div>
            <app-income-expense class="p-3"></app-income-expense>
            <div class="bg-primario d-flex flex-row justify-content-evenly pb-4">
                <div class="d-flex flex-column align-items-center">
                    <button mat-icon-button style="color:white;">
                        <mat-icon>add_circle</mat-icon>
                    </button>
                    <mat-label style="color:white;">Oportunidades</mat-label>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <button mat-icon-button style="color:white;">
                        <mat-icon>notifications</mat-icon>
                    </button>
                    <mat-label style="color:white;">Notificaciones</mat-label>
                </div>
                <div class="d-flex flex-column align-items-center">
                    <button mat-icon-button style="color:white;">
                        <mat-icon>more_horiz</mat-icon>
                    </button>
                    <mat-label style="color:white;">Mis datos</mat-label>
                </div>
            </div>
            <div class="px-3" style="color:black; padding-bottom: 65px;">
                <mat-card *ngFor="let cuenta of cuentas; last as isLast">
                    <mat-card-content (click)="imprimirCuenta(cuenta.cuenta)">
                        <div class="d-flex flex-column">
                            <h3 class="m-0">{{cuenta.cuentaTipo}}</h3>
                            <div class="d-flex flex-row justify-content-between">
                                <h2 class="color-primario m-0">{{cuenta.nombre}}</h2>
                                <h3 class="m-0">${{cuenta.balance}} {{cuenta.monedaIsoCode}}</h3>
                            </div>
                            <div class="d-flex flex-row justify-content-between">
                                <h3 class="m-1">{{cuenta.cuenta}}</h3>
                                <mat-label>Saldo Disponible</mat-label>
                            </div>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </mat-card>
<!-- <app-cuenta class="w-100"></app-cuenta> -->