<div class="content" style="padding-bottom: 65px;">
    <router-outlet></router-outlet>
</div>
<div class="navbar fixed-bottom bg-primario justify-content-evenly p-0">
    <button mat-icon-button style="color:white;" (click)="goHome()">
        <mat-icon>home</mat-icon>
    </button>
    <button style="color:white;" mat-icon-button (click)="goPlus()">
        <mat-icon>add_circle</mat-icon>
    </button>
    <button style="color:white;" mat-icon-button (click)="goNotifications()">
        <mat-icon>notifications</mat-icon>
    </button>
</div>